<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secrets</title>
</head>
<h1>User Info</h1>
<div>
    <span>Username:</span>
    <div>
        {{user.username}}
    </div>
</div>
<div>
    <span>Email:</span>
    <div>
        {{user.email}}
    </div>
</div>
<div>
    <span>First Name:</span>
    <div>
        {{user.first_name}}
    </div>
</div>
<div>
    <span>Last Name:</span>
    <div>
        {{user.last_name}}
    </div>
</div>
<h2>Feedback</h2>
<ul>
    {% for feedback in user.feedback %}

    <li>
        <b>{{ feedback.title }}</b>
        {{ feedback.content }}
    </li>
    <p>
        <a href="/users/{{ user.username }}/feedback/add">
            Add feedback
        </a>
        <a href="/feedback/{{feedback.id}}/update">
            Update feedback
        </a>
    </p>
    {% endfor %}
</ul>

<body>

</body>

</html>