{% extends 'base.html' %}
{% block content %}
<h1>User Info</h1>
<div>
    <span>Username:</span>
    <div>
        {{user.username}}
    </div>
</div>
<div>
    <span>Email:</span>
    <div>
        {{user.email}}
    </div>
</div>
<div>
    <span>First Name:</span>
    <div>
        {{user.first_name}}
    </div>
</div>
<div>
    <span>Last Name:</span>
    <div>
        {{user.last_name}}
    </div>
</div>
<h2>Feedback</h2>
<ul>
    {% for feedback in user.feedback %}

    <li>
        <b>{{ feedback.title }}:</b>
        <div>
        {{ feedback.content }}
        </div>
    </li>
    <p>
        
        <form action='/feedback/{{feedback.id}}/update' , method="GET">
            <input type="submit" value="Update Feedback">
            </form>
        <form action='/feedback/{{feedback.id}}/delete' , method="POST">
        <input type="submit" value="Delete Feedback">
        </form>
        
    </p>
    {% endfor %}
</ul>
<form action='/users/{{user.id}}/feedback/add' , method="GET">
    <input type="submit" value="Add Feedback" />
</form>
<form action='/users/{{user.id}}/delete', method="POST">
    <input type="submit" value="Delete User" />
</form>
{% endblock %}